{% extends "baseIndexPost.html" %}

{% block title %}
  Sistemas Tabasco
{% endblock %}

{% block metadescripcion %}Servicio de blog, donde se enseña códigos de programación en diferentes lenguajes, para ayudar a los futuros desarrolladores.
{% endblock %}

{% block metakeywords %}analítica web, seo, web semántica, seo semántico, analytics, Django, php, JavaScript, html5, css, js, Itsma
{% endblock %}

{% block h1title %}
  Sistemas Tabasco
{% endblock %}


{% block contenido %}
  {% for p in PostMatriz %}
      <article>
        <div class="imagenPost">
          <img src="/static/media/{{p.image}}" width="200px" height="150px">
        </div>
        <div class="contenPost">
          <h2 class="titulo">
            <a href="/blog/{{p.slug}}/">{{p.title}}</a>
          </h2>
          <div class="entry-meta">
            <span class="meta-author">
              <i class="icon-pencil"></i>
              <span class="autor">{{p.first_name}} {{p.last_name}}</span>
            </span>
            — 
            <i class="icon-calendar"></i> 
            <span class="meta-date">{{p.fecha|date:"M d, Y"}} - {{p.fecha|date:"g:i a"}}</span>
            — 
            <i class="icon-bubbles4"></i> 
            <span class="comentario">{{p.comentariosCount}}</span>
          </div>

          <p>{{p.descripcion|safe|slice:":400"}}...</p>
        </div>
      
      </article>

      {% empty %}
        <article>
            <header>
                <div id="cuerpotitulo">
                    <div id="titulo">
                        <h2 itemprop="headline" class="post-title">No se han encontrado coincidencias....</h2>
                    </div>    
                </div>
            </header>
        </article>  <!-- / article -->


      {% endfor %}
{% endblock %}