<html ng-app='blog'>  
<head>  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
</head>  
<body ng-controller='indexController'>  
  <header>
    <h1>Angular Routing</h1>
      <nav> 
        <ul> 
          <li><a href="#">Inicio</a></li>
          <li><a href="#acerca">Acerca de</a></li>
      </nav>
    </header>
    <div id="main">
      <!-- Aquí inyectamos las vistas -->
      <div ng-view></div> 
    </div>
    <!-- jQuery -->
    <script src="/static/Dashboard/js/jquery.js"></script>

    <!-- Angular -->
    <script type='text/javascript' src='/static/angular1.5/plugins/angular.min.js'></script>
    <script type='text/javascript' src='/static/angular1.5/plugins/angular-route.min.js'></script>

    <script type='text/javascript' src='/static/angular1.5/configuracion/module.js'></script>
    <script type='text/javascript' src='/static/angular1.5/controller/indexController.js'></script>
  </body>
  </html>