{% extends "plantillabase.html" %}

{% block title %}
  Sistemas Tabasco
{% endblock %}


{% block headersection %}
<!-- header-section-starts-here -->
  <div class="header">
    <div class="header-top">
      <div class="wrap">
        <div class="top-menu">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="num">
          <p> Llamanos : 936 563 4229</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="header-bottom">
      <!-- <div class="logo text-center">
        <a href="index.html"><img src="/static/plantilla/images/logo.jpg" alt="" /></a>
      </div> -->
      <div class="navigation">
        <nav class="navbar navbar-default" role="navigation">
       <div class="wrap">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
      <!--/.navbar-header-->
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
           <li class="active"><a href="/">Inicio</a></li>
            <li><a href="sports.html">Sports</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entertainment<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="entertainment.html">Movies</a></li>
              <li class="divider"></li>
              <li><a href="entertainment.html">Another action</a></li>
              <li class="divider"></li>
              <li><a href="entertainment.html">Articles</a></li>
              <li class="divider"></li>
              <li><a href="entertainment.html">celebrity</a></li>
              <li class="divider"></li>
              <li><a href="entertainment.html">One more separated link</a></li>
            </ul>
            </li>
          <li><a href="shortcodes.html">Health</a></li>
          <li><a href="fashion.html">Fashion</a></li>
            <li class="dropdown">
            <a href="business.html" class="dropdown-toggle" data-toggle="dropdown">Business<b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-2">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                    <li><a href="business.html">Action</a></li>
                    <li class="divider"></li>
                    <li><a href="business.html">bulls</a></li>
                      <li class="divider"></li>
                    <li><a href="business.html">markets</a></li>
                    <li class="divider"></li>
                    <li><a href="business.html">Reviews</a></li>
                    <li class="divider"></li>
                    <li><a href="shortcodes.html">Short codes</a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="multi-column-dropdown">
                     <li><a href="business.html">features</a></li>  
                    <li class="divider"></li>
                    <li><a href="entertainment.html">Movies</a></li>
                      <li class="divider"></li>
                    <li><a href="sports.html">sports</a></li>
                    <li class="divider"></li>
                    <li><a href="business.html">Reviews</a></li>
                    <li class="divider"></li>
                    <li><a href="business.html">Stock</a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
          <li><a href="technology.html">Technology</a></li>
          <div class="clearfix"></div>
        </ul>
        <div class="search">
          <!-- start search-->
            <div class="search-box">
              <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
              </form>
            </div>
            </div>
          <!-- search-scripts -->
          <script src="/static/plantilla/js/classie.js"></script>
          <script src="/static/plantilla/js/uisearch.js"></script>
            <script>
              new UISearch( document.getElementById( 'sb-search' ) );
            </script>
          <!-- //search-scripts -->
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!--/.navbar-collapse-->
   <!--/.navbar-->
      </div>
    </nav>
    </div>
  </div>
  <!-- header-section-ends-here -->
{% endblock %}

{% block wrap %}
<!-- header-section-ends-here -->
  <div class="wrap">
    <div class="move-text">
      <div class="breaking_news">
        <h2>Últimas Noticias... </h2>
      </div>
      <div class="marquee">
        <div class="marquee1"><a class="breaking" href="single.html">>>The standard chunk of Lorem Ipsum used since the 1500s is reproduced..</a></div>
        <div class="marquee2"><a class="breaking" href="single.html">>>At vero eos et accusamus et iusto qui blanditiis praesentium voluptatum deleniti atque..</a></div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <script type="text/javascript" src="/static/plantilla/js/jquery.marquee.min.js"></script>
      <script>
        $('.marquee').marquee({ pauseOnHover: true });
        //@ sourceURL=pen.js
      </script>
    </div>
  </div>
{% endblock %}

{% block contentsection %}
  <!-- content-section-starts-here -->
  <div class="main-body">
    <div class="wrap">
      <div class="col-md-8 content-left">
        <!-- <div class="slider">
          <div class="callbacks_wrap">
            <ul class="rslides" id="slider">
              <li>
                <img src="/static/plantilla/images/3.jpg" alt="">
                <div class="caption">
                  <a href="single.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a>
                </div>
              </li>
              <li>
                <img src="/static/plantilla/images/2.jpg" alt="">
                <div class="caption">
                  <a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</a>
                </div>
              </li>
              <li>
                <img src="/static/plantilla/images/1.jpg" alt="">
                <div class="caption">
                  <a href="single.html">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</a>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
        <div class="articles">
          <header>
            <h3 class="title-head">Post recientes...</h3>
          </header>

          <div class="article">
            <div class="article-left">
              <a href="single.html"><img src="/static/plantilla/images/article1.jpg"></a>
            </div>
            <div class="article-right">
              <div class="article-title">
                <p>On Feb 25, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>
                <a class="title" href="single.html"> The section of the mass media industry that focuses on presenting</a>
              </div>
              <div class="article-text">
                <p>The standard chunk of Lorem Ipsum used since the 1500s. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" exact original.....</p>
                <a href="single.html"><img src="/static/plantilla/images/more.png" alt="" /></a>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="article">
            <div class="article-left">
              <a href="single.html"><img src="/static/plantilla/images/article1.jpg"></a>
            </div>
            <div class="article-right">
              <div class="article-title">
                <p>On Feb 25, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>
                <a class="title" href="single.html"> The section of the mass media industry that focuses on presenting</a>
              </div>
              <div class="article-text">
                <p>The standard chunk of Lorem Ipsum used since the 1500s. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" exact original.....</p>
                <a href="single.html"><img src="/static/plantilla/images/more.png" alt="" /></a>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>



        </div>

          <div class="sports-top">
              <div class="s-grid-left">
                <div class="cricket">
                  <header>
                    <h3 class="title-head">Business</h3>
                  </header>

                    <div class="s-grid-small">
                      <div class="sc-image">
                        <a href="single.html"><img src="/static/plantilla/images/bus4.jpg" alt="" /></a>
                      </div>
                    <div class="sc-text">
                      <h6>Lorem Ipsum</h6>
                      <a class="power" href="single.html">It is a long established fact that a reader</a>
                      <p class="date">On Jul 19, 2015</p>
                      <a class="reu" href="single.html"><img src="/static/plantilla/images/more.png" alt="" /></a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              <div class="s-grid-right">
                <div class="cricket">
                  <header>
                    <h3 class="title-popular">Technology</h3>
                  </header>

                    <div class="s-grid-small">
                      <div class="sc-image">
                        <a href="single.html"><img src="/static/plantilla/images/tec4.jpg" alt="" /></a>
                      </div>
                    <div class="sc-text">
                      <h6>Lorem Ipsum</h6>
                      <a class="power" href="single.html">It is a long established fact that a reader</a>
                      <p class="date">On Jul 19, 2015</p>
                      <a class="reu" href="single.html"><img src="/static/plantilla/images/more.png" alt="" /></a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    </div>

                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
        </div>
      <div class="col-md-4 side-bar">
      <div class="first_half">
        <div class="newsletter">
          <h1 class="side-title-head">Systab</h1>
          <p class="sign">Sign up to receive our free newsletters!</p>
          <form>
            <input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
            <input type="submit" value="submit">
          </form>
        </div>
        <div class="list_vertical">
                <section class="accordation_menu">
              <div>
                <input id="label-1" name="lida" type="radio" checked/>
               <label for="label-1" id="item1"><i class="ferme"> </i>Popular Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                <div class="content" id="a1">
                  <div class="scrollbar" id="style-2">
                 <div class="force-overflow">
                  <div class="popular-post-grids">

                    <div class="popular-post-grid">
                      <div class="post-img">
                        <a href="single.html"><img src="/static/plantilla/images/bus2.jpg" alt="" /></a>
                      </div>
                      <div class="post-text">
                        <a class="pp-title" href="single.html"> The section of the mass media industry</a>
                        <p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                      </div>
                      <div class="clearfix"></div>
                    </div>


                    <div class="popular-post-grid">
                      <div class="post-img">
                        <a href="single.html"><img src="/static/plantilla/images/bus4.jpg" alt="" /></a>
                      </div>
                      <div class="post-text">
                        <a class="pp-title" href="single.html">Sed ut perspiciatis unde omnis iste natus</a>
                        <p>On Jan 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                  </div>
                                </div>
                              </div>
              </div>
              <div>
                <input id="label-2" name="lida" type="radio"/>
                <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Recent Posts<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                <div class="content" id="a2">
                   <div class="scrollbar" id="style-2">
                   <div class="force-overflow">
                  <div class="popular-post-grids">

                      <div class="popular-post-grid">
                        <div class="post-img">
                          <a href="single.html"><img src="/static/plantilla/images/tec2.jpg" alt="" /></a>
                        </div>
                        <div class="post-text">
                          <a class="pp-title" href="single.html"> The section of the mass media industry</a>
                          <p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                        </div>
                        <div class="clearfix"></div>
                      </div>

                      <div class="popular-post-grid">
                        <div class="post-img">
                          <a href="single.html"><img src="/static/plantilla/images/tec1.jpg" alt="" /></a>
                        </div>
                        <div class="post-text">
                          <a class="pp-title" href="single.html"> Lorem Ipsum is simply dummy text printing</a>
                          <p>On Apr 14 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
                        </div>
                        <div class="clearfix"></div>
                      </div>



                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div>
                <input id="label-3" name="lida" type="radio"/>
                <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>Comments<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                <div class="content" id="a3">
                   <div class="scrollbar" id="style-2">
                  <div class="force-overflow">
                 <div class="response">
            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="/static/plantilla/images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>MARCH 21, 2015</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>
              </div>
              <div class="clearfix"> </div>
            </div>

            <div class="media response-info">
              <div class="media-left response-text-left">
                <a href="#">
                  <img class="media-object" src="/static/plantilla/images/icon1.png" alt="" />
                </a>
                <h5><a href="#">Username</a></h5>
              </div>
              <div class="media-body response-text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>MARCH 26, 2015</li>
                  <li><a href="single.html">Reply</a></li>
                </ul>   
              </div>
              <div class="clearfix"> </div>
            </div>


          </div>
          </div>

                                </div>
                </div>
              </div>
            </section>
           </div>
           
           </div>
           <div class="secound_half">
           <div class="tags">
            <header>
              <h3 class="title-head">Tags</h3>
            </header>
            <p>
            <a class="tag1" href="single.html">At vero eos</a>
            <a class="tag2" href="single.html">doloremque</a>
            </p>
           </div>          
           
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- content-section-ends-here -->
{% endblock %}

{% block footer %}
  <!-- footer-section-starts-here -->
  <div class="footer">
    <div class="footer-top">
      <div class="wrap">
        <div class="col-md-3 col-xs-6 col-sm-4 footer-grid">
          <h4 class="footer-head">Acerca de nosotros</h4>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.</p>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-2 footer-grid">
          <h4 class="footer-head">Categorias</h4>
          <ul class="cat">
            <li><a href="business.html">Business</a></li>
            <li><a href="technology.html">Technology</a></li>
            <li><a href="entertainment.html">Entertainment</a></li>
            <li><a href="sports.html">Sports</a></li>
            <li><a href="shortcodes.html">Health</a></li>
            <li><a href="fashion.html">Fashion</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-xs-12 footer-grid">
          <h4 class="footer-head">Contáctenos</h4>
          <span class="hq">Datos de contacto</span>
          <address>
            <ul class="location">
              <li><span class="glyphicon glyphicon-map-marker"></span></li>
              <li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
              <div class="clearfix"></div>
            </ul> 
            <ul class="location">
              <li><span class="glyphicon glyphicon-earphone"></span></li>
              <li>+0 561 111 235</li>
              <div class="clearfix"></div>
            </ul> 
            <ul class="location">
              <li><span class="glyphicon glyphicon-envelope"></span></li>
              <li><a href="mailto:info@example.com">mail@example.com</a></li>
              <div class="clearfix"></div>
            </ul>           
          </address>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrap">
        <div class="copyrights col-md-6">
          <p> © 2015 Express News. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
        </div>
        <div class="footer-social-icons col-md-6">
          <ul>
            <li><a class="facebook" href="#"></a></li>
            <li><a class="twitter" href="#"></a></li>
            <li><a class="flickr" href="#"></a></li>
            <li><a class="googleplus" href="#"></a></li>
            <li><a class="dribbble" href="#"></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- footer-section-ends-here -->
{% endblock %}




