<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/stilos.css" />
    <link rel="stylesheet" href="/static/css/css.css" />
    <title>index</title>
</head>
<body>

    <header>
        <h1>
            Systab
        </h1>
        <p>
        	Diseñando la web
        </p>
        <figure id="logo">
        	<img src="/static/img/logo.png" ></img>
        <figure>
    </header>

    <nav>
        <ul class="left">
            <li class="active"><a href="#">Inicio 123</a></li>
            <li><a href="#">Inicio 123</a></li>
            <li><a href="#">Inicio 123</a></li>
            <li><a href="#">Inicio 123</a></li>
            <li><a href="#">Inicio 123</a></li>
        </ul>
    </nav>


    <section>
        <section>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, perspiciatis, sunt, cumque tempora minus dicta doloribus ad pariatur mollitia a natus nihil molestias quod exercitationem enim itaque repudiandae ipsum deleniti.
                </p>
            </article>
        </section>
    </section>


    <section>
        <section >
            <article>
                <h2>titulo del post</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, perspiciatis, sunt, cumque tempora minus dicta doloribus ad pariatur mollitia a natus nihil molestias quod exercitationem enim itaque repudiandae ipsum deleniti.
                </p>
                <a href="">ir al post</a>
            </article>
        </section>

        <aside>
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditaod exercitationem enim itaque repudiandae ipsum deleniti.
                </article>
            </section>
            <section >
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditaod exercitationem enim itaque repudiandae ipsum deleniti.
                </article>
            </section>
        </aside>
    </section>

    <footer>
        <p>
            <strong>Powered by Pony®</strong>
        </p>
        <p>
            mejorando.la 2014
        </p>
    </footer>


</body>
</html>