images/

.idea/
#proyecto/settings.py
#manage.py
# sublimetext
/*.sublime-project
*.sublime-workspace

comentarios/migrations/
etiquetas/migrations/
post/migrations/
proyecto/migrations/
respuestas/migrations/
votos/migrations/


videos/
fotos/

node_modules/

#python
*.pyc
*.swp

*.sh

*~