.idea/
#proyecto/settings.py
#manage.py
# sublimetext
/*.sublime-project
*.sublime-workspace
*.DS_Store

comentarios/migrations/
etiquetas/migrations/
post/migrations/
respuestas/migrations/
votos/migrations/
migrations/

proyecto/migrations/
proyecto/images/images/

proyecto/static/media/

proyecto/base.py

videos/
fotos/

node_modules/

#python
*.pyc
*.swp

*.sh

*~
