dj-database-url==0.3.0
dj-static==0.0.6
django-ckeditor==4.4.7
django-cors-headers==2.0.0
django-filter==0.11.0
django-suit-ckeditor==0.0.2
django-toolbelt==0.0.1
djangorestframework==3.3.1
gunicorn==19.3.0
Markdown==2.6.5
oauthlib==0.7.2
Pillow==2.7.0
psycopg2==2.6
PyJWT==0.4.1
python-openid==2.2.5
python-social-auth==0.2.2
requests==2.6.0
requests-oauthlib==0.4.2
six==1.10.0
static3==0.5.1
