{% extends "baseDash.html" %}

{% block title %}
  Posts
{% endblock %}


{% block container-fluid %}

    <script>
        GetAllImage();
    </script>
    
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Posts <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-thumb-tack"></i> Post
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-7">

                <form role="form" method="POST" action="">

                    {% csrf_token %}

                      <link href="/static/suit-ckeditor/ckeditor.css" type="text/css" media="all" rel="stylesheet" />
                      <script type="text/javascript" src="/static/suit-ckeditor/ckeditor/ckeditor.js"></script>
                      
                      {{ form.as_p }}

                    <button type="submit" class="btn btn-default">Guardar</button>
                </form>

            </div>
            <div class="col-lg-5">
                <h1>Configuración para ingresar código</h1>
                <p>
                    &ltpre class="brush: py"&gt
                    &lt/pre&gt
                    <br>
                    py<br>
                    sql<br>
                    c<br> 
                    c++<br>
                    csharp<br>
                    css<br>
                    java<br>
                    javascript<br>
                    php<br>
                    vb<br>
                    xhtml<br>
                </p>
                <h1>Último post</h1>
                <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Fecha creación</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in Post %}
                                    <tr>
                                        <td>{{post.title}}</td>
                                        <td>{{post.fecha_registro}}</td>
                                        <td>{{post.status.title}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                </div>
                <h1>Upload File</h1>
                <form action="#" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <ul>
                        <li>
                            <label for="file_upload">File:</label>
                            <input type="file" name="file_upload" id="file_upload" multiple>
                        </li>

                        <li><input type="submit" name="submit" value="Submit Content"></li>
                    </ul>
                </form>
                <h1>Images</h1>
                <ul id="image">
                    <li>
                        <picture>
                            <img srcset="" alt="" width="100" height="40" >
                        </picture>
                    </li>
                </ul>    

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
{% endblock %}

