{% extends "base3.html" %}

{% block title %}
  {% for p in PostMatriz %}
    {{p.title}}
  {% endfor %}
{% endblock %}

{% block configFacebook %}
    <meta property="og:site_name" content="Systab Blog | Development, Marketing &amp; Web Design" />
    <meta property="og:url"           content="http://systab.herokuapp.com/blog/{{id_post}}/" />
    <meta property="og:type"          content="article" />
    {% for p in PostMatriz %}
    <meta property="og:title"         content="{{p.title}}" />
    {% endfor %}
    <meta property="og:description"   content="Pagina dedicado al mundo de la informatica" />
    <meta property="og:image"         content="http://systab.herokuapp.com/static/images/logo.png" />

{% endblock %}



{% block menu %}
  <div class="header">
      <div class="header-top">
        <div class="header-in">
          <div class="logo">
            <a href="/"><img src="/static/images/logo.png" alt="" ></a>
          </div>
          <div class="search">
            <form action="." method="GET">
            <form role="search" method="get" class="search-form" action="http://systab.herokuapp.com/blog/">
              <input type="search"  value="" name="s" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
              <input type="submit" value="SEARCH">
            </form>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="header-top-on">
          <ul class="social-in">
            <li>

              <div class="fb-share-button" data-href="http://systab.herokuapp.com/blog/{{id_post}}/" data-layout="button_count"></div>

            </li>

          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <!---->
      <div class="header-bottom">
        <div class="navigation">  
        <div>
          <label class="mobile_menu" for="mobile_menu">
          <span>Menu</span>
          </label>
          <input id="mobile_menu" type="checkbox">
          <ul class="nav">

            {% for m in Menu %}
              <li><a class="{{m.css_menu}}" href="/{{m.slug}}/">{{m.title_menu}}</a></li>
            {% endfor %}

            <div class="clearfix"></div>
          </ul>
        </div>      
      </div>
    </div>
  </div>
{% endblock %}

{% block contenido %}
<div class="col-md-8 content-top">
    {% for p in PostMatriz %}
      <div class="number">
        <div class="feb">
          <b>
            {{p.fecha|date:"d"}}
          </b>
          <label>
            {{p.fecha|date:"M"}}
          </label>
        </div>
        
        <h1><a href="#">{{p.title}}</a></h1>    

        <h4>Escrito por: {{p.first_name}} {{p.last_name}}</h4>

        {{p.descripcion|safe}}


        <div class="movie">
          <ul class="comment">
            <li><span>Categoria : <a href="#"> {{p.categoria}}</a> </span></li>
            <li><a href="#"><i> </i>{{p.comentarios}} Comentarios  </a></li>
          </ul>       
        <div class="clearfix"> </div>
        </div>


      </div>
    {% endfor %} 
      <!---->
  </div>
{% endblock %}

{% block aside %}
  <div class="col-md-4 content-bottom">
    <div class="grid-top">
      <h4>Categorias</h4>
      <ul>
        {% for ca in Categoria %}
          <li><a href="/categorias/{{ca.id}}/">{{ca.title}}. </a></li>
        {% endfor %}
      </ul>
    </div>
  <!---->

  <!---->
    <div class="grid-top">
      <h4>Tag</h4>
      <ul>
        {% for e in Etiqueta %}
        <li><a href="/etiquetas/{{e.id}}/">{{e.title}}. </a></li>
        {% endfor %}
       </ul>        
    </div>
    <!---->
  </div>
{% endblock %}

{% block footer %}
  <p class="footer-class">Copyright © 2015 Megblog Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
  <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
{% endblock %}




