{% extends "plantilla-general-post.html" %}

{% block title %}
  Sistemas Tabasco
{% endblock %}



{% block configFacebook %}
    <meta property="og:site_name" content="Systab Blog | Development, Marketing &amp; Web Design" />
    <meta property="og:url"           content="http://systab.herokuapp.com/blog/{{id_post}}/" />
    <meta property="og:type"          content="article" />
    {% for p in PostMatriz %}
    <meta property="og:title"         content="{{p.title}}" />
    {% endfor %}
    <meta property="og:description"   content="Pagina dedicado al mundo de la informatica" />
    <meta property="og:image"         content="http://systab.herokuapp.com/static/images/logo.png" />

{% endblock %}


{% block contenido %}
  {% for p in PostMatriz %}
    <article>
            <header>
                <div id="fecha">
                    <div class="mes">MAY</div>
                     <div class="dia">26</div>
                    
                </div>
                <div id="cuerpotitulo">
                    <div id="titulo">
                        <h2 itemprop="headline" class="post-title">{{p.title}}</h2>
                    </div>    
                    <div id="descripcion-post">
                        posted by {{p.first_name}} {{p.last_name}} .Commen <a href=""><i></i>22</a>
                    </div>
                </div>
            </header>
            <div class="content">
               {{p.descripcion|safe}}
            </div>
        </article>  <!-- / article -->
  {% endfor %}

  <article>
            <header>
                <div id="cuerpotituloComent">
                    0 Comentarios.  
                </div>
            </header>
            <div class="contentComentario">
               <form class="contact_form" method="POST" action="">
                <div> 
                    <ul> 
                        <li> 
                            <h2>Comentario</h2> <span class="required_notification">* Datos requeridos</span> 
                        </li> 
                        <li>
                        <textarea name="message" cols="40" rows="6" required></textarea>
                        </li> <li> <button class="submit" type="submit">Enviar mensaje</button> </li> 
                    </ul> 
                </div> 
                </form>
            </div>
        </article>  <!-- / article -->


{% endblock %}