{% extends "plantilla-general-post.html" %}

{% block title %}
  Sistemas Tabasco
{% endblock %}



{% block configFacebook %}
    <meta property="og:site_name" content="Systab Blog | Development, Marketing &amp; Web Design" />
    <meta property="og:url"           content="http://systab.herokuapp.com/blog/{{id_post}}/" />
    <meta property="og:type"          content="article" />
    {% for p in PostMatriz %}
    <meta property="og:title"         content="{{p.title}}" />
    {% endfor %}
    <meta property="og:description"   content="Pagina dedicado al mundo de la informatica" />
    <meta property="og:image"         content="http://systab.herokuapp.com/static/images/logo.png" />

{% endblock %}


{% block contenido %}
  {% for p in PostMatriz %}
    <article>
            <header>
                <div id="fecha">
                    <div class="mes">{{p.fecha_month}}</div>
                     <div class="dia">{{p.fecha|date:"d"}}</div>
                    
                </div>
                <div id="cuerpotitulo">
                    <div id="titulo">
                        <h2 itemprop="headline" class="post-title">{{p.title}}</h2>
                    </div>    
                    <div id="descripcion-post">
                        posted by <span class="icon-user-check span1"></span> {{p.first_name}} {{p.last_name}} .Commen <a href=""><i></i>{{p.comentariosCount}}</a>
                    </div>
                </div>
            </header>
            <div class="content">
               {{p.descripcion|safe}}
            </div>
        </article>  <!-- / article -->
  {% endfor %}


  <article>
            <header>
                <div id="cuerpotituloComent">
                    {% for p in PostMatriz %}
                        {{p.comentariosCount}} Comentarios.
                    {% endfor %}
                </div>
            </header>
            {% for p in PostMatriz %}
                {% for c in p.comentarios %}
                    <div class="contentComentario">
                        <div class="avatarComent">
                            <img src="/static/images/avatar-comentario.png" class="img-circle">
                        </div>

                        <div class="infoComent">
                            <div class="filaprincipalComent">
                                <div class="userComent">
                                    Jhon doe
                                </div>
                                <div class="dataComent">
                                    25 junio 2013, 03:45 pm.
                                </div>
                            </div>
                            <div class="descripcionComent">
                                {{c.descripcion}}
                            </div>
                        </div>
                    </div> 
                {% endfor %}
            {% endfor %}
            <div class="FormComentario">
               <form class="contact_form" onsubmit="return false;">
                {% csrf_token %}
                <div> 
                    <ul> 
                        <li> 
                            <h2>Comentario</h2> <span class="required_notification">* Datos requeridos</span> 
                        </li> 
                        <li>
                            {% for p in PostMatriz %}
                                <input name="post" id="post" type="hidden" value="{{p.id}}">
                            {% endfor %}    
                        <textarea name="message" id="message" cols="40" rows="6"  required></textarea>
                        </li> 
                        <li>
                            <button class="submit" onClick="enviarComentario()">Enviar mensaje</button> 
                        </li> 
                    </ul> 
                </div> 
                </form>
            </div>
        </article>  <!-- / article -->


{% endblock %}