/************ 
//--------------------------------
// GENERAL
//-------------------------------
************/
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px;
}

h1 {
	font-size: 2.3em;
  line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

#principal {
	width: 960px;
	margin: 15px auto;
	text-align: left;
}

/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	
	#main-header a {
		color: white;
	}
	
	
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: left;
	margin-left: 3.3%;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
	
.search {
    float: right;
    position: relative;
    width: 25%;
    border: 1px solid #ededed;
    margin-top: 1.4em;
    margin-right: 2em;
}

.search input[type="search"] {
    outline: none;
    padding: 8px 15px;
    background: white;
    width: 77%;
    border: none;
    font-size: 1em;
    color: #a9a7a7;
}

.search input[type="submit"] {
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    top: 0px;
    right: 0px;
    font-size: 1em;
    background: #333;
    color: #fff;
    font-weight: 700;
    padding: 8px 11px;
    font-family: 'Roboto Condensed', sans-serif;
}


/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	width: 100%;
	background: white;
	max-width: 1120px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	display: table;
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}
/************
//------------------------------
// BARRA LATERAL DERECHA
//------------------------------
************/
section {
	overflow: hidden;
	float: left;
	width: 75%;
	margin: 20px auto;
}

#descripcion-post a {
    display: inline-block;
    font-size: 1.12em;
    color: #494949;
    text-decoration: none;
    padding: 0 1em 0 0;
}

#descripcion-post a i {
    background: url(http://systab.herokuapp.com/static/images/img-sprite.png)no-repeat -77px -101px;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}



#fecha{
	float: left;
    background-color: #F2F2F2;
    padding: 6px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

#fecha .mes{
	font-size: small;
}

#fecha .dia{
	font-weight: bold;
    font-size: xx-large;
}

#cuerpotitulo{
	float: left;
    padding: initial;
    margin: -9px 2px 2px 20px;
}
#titulo{
	margin-top: -9px;
}
#cuerpotitulo #titulo{
	
}
#descripcion-post{
margin-top: -20px;
}

.readMore a {
	text-decoration: none;
	color: #D20505;
}


aside {
	float: left;
	width: 25%;
	margin: 45px auto;
	
}

aside ul{
    margin-right: 15%;
    padding-left: 2%;
}

aside ul li {
    list-style-image: url(http://systab.herokuapp.com/static/images/dot.png);
    margin: 12px 0px 5px 17px;
    border-bottom: 1px solid #E8E6E6;
    text-decoration: none;
}

aside ul li a {
    color: #494949;
    line-height: 1.8em;
    text-decoration: none;
    font-size: 0.9em;
    padding: 0 0 10px;
    display: block;
}
.content{
	margin-bottom: -50px;
}


/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	footer p {
		margin: 0;
	}
	
	footer a {
		color: white;
	}
