{% extends "base3.html" %}

{% block title %}
  Sistemas Tabasco
{% endblock %}


{% block menu %}
  <div class="header">
      <div class="header-top">
        <div class="header-in">
          <div class="logo">
            <a href="index.html"><img src="/static/images/logo.png" alt="" ></a>
          </div>
          <div class="search">
            <form>
              <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
              <input type="submit" value="SEARCH">
            </form>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="header-top-on">
          <ul class="social-in">
            <li><a href="#"><i> </i></a></li>           
            <li><a href="#"><i class="facebook"> </i></a></li>
            <li><a href="#"><i class="tin"> </i></a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <!---->
      <div class="header-bottom">
        <div class="navigation">  
        <div>
          <label class="mobile_menu" for="mobile_menu">
          <span>Menu</span>
          </label>
          <input id="mobile_menu" type="checkbox">
          <ul class="nav">

            {% for m in Menu %}
              <li><a class="{{m.css_menu}}" href="index.html">{{m.title_menu}}</a></li>
            {% endfor %}

            <div class="clearfix"></div>
          </ul>
        </div>      
      </div>
    </div>
  </div>
{% endblock %}

{% block contenido %}
<div class="col-md-8 content-top">
    {% for p in PostMatriz %}
      <div class="number">
        <div class="feb">
          <b>
            {{p.fecha|date:"d"}}
          </b>
          <label>
            {{p.fecha|date:"M"}}
          </label>
        </div>
        
        <h3><a href="single.html">{{p.title}}</a></h5>    

        <h4>Escrito por: {{p.first_name}} {{p.last_name}}</h4>

        {{p.descripcion|safe}}

          <a href="/edit-post/{{id_post}}/">Editar post</a> 


        <div class="movie">
          <ul class="comment">
            <li><span>Categoria : <a href="single.html"> {{p.categoria}}</a> </span></li>
            <li><a href="#"><i> </i>{{p.comentarios}} Comentarios  </a></li>
          </ul>       
          <a href="single.html" class="more">Leer Más </a>
        <div class="clearfix"> </div>
        </div>
      </div>
    {% endfor %} 
      <!---->

  </div>
{% endblock %}

{% block aside %}
<div class="col-md-4 content-bottom">

<!---->
  <div class="grid-top">
    <h4>Configuración</h4>
    <ul>
        <li><a href="/add-subtitulo-post/{{id_post}}/">Subtitulo</a></li>
        <li><a href="/add-descripcion-post/{{id_post}}/">Descripción</a></li>
        <li><a href="/add-codigo-post/{{id_post}}/">Código</a></li>
        <li><a href="/add-imagen-post/{{id_post}}/">Imagen</a></li>
    </ul>
  </div>
<!---->
<!---->
  <div class="grid-top-in">
    <h4>Tag</h4>
    <p>
      {% for postadd in ObjPostAdd %}
      <a href="#" class="{{e.css_etiqueta}}">{{postadd}}</a>
      {% endfor %}
     </p>       
  </div>
  <!---->

</div>
{% endblock %}

{% block footer %}
  <p class="footer-class">Copyright © 2015 Megblog Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
  <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
{% endblock %}




