
{% extends "base.html" %}

{% block title %}
	Sistemas Tabasco
{% endblock %}


{% block menu %}
	<div class="row">
        <div class="large-12 columns">
			<div class="nav-bar right">
				<ul class="button-group">

          {% for me in Menu %}
            <li><a href="#" class="button">{{me.descripcion}}</a></li>
          {% endfor %}

				</ul>
			</div>
			<h1>Systab <small>Rediseñando la web.</small></h1>
			<hr/>
        </div>
    </div>
{% endblock %}



{% block contenido %}
	<div class="large-9 columns" role="content">
          <article>
            <div class="row">
              <div class="large-6 columns">

              <form name="actividades" class="form-horizontal left-align" id="actividades" method="POST" action="">
                  {% csrf_token %}


                  <div class="control-group">
                    <label class="control-label">Título</label>
                    <div class="controls">
                    {{ObjFormPost.title}}
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Etiquetas</label>
                    <div class="controls">
                    {{ObjFormPost.etiquetas}}
                    </div>
                  </div>



                  <div class="control-group">
                    <label class="control-label">Categorias</label>
                    <div class="controls">
                    {{ObjFormPost.categoria}}
                    </div>
                  </div>
                 

                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary" >Guardar</button>
                     <button type="submit" class="btn btn-danger">Cancelar</button>
                  </div>

                </form>
               
              </div>
            </div>
     
          
          </article>
          <hr/>
        </div>
{% endblock %}

{% block aside %}
	<aside class="large-3 columns">

	<div class="panel">
		<h5>Categorias</h5>
		<ul class="side-nav">
			{% for ca in Categoria %}
			<li><a href="#">{{ca.title}}</a></li>
			{% endfor %}
		</ul>

		<h5>Tag</h5>
		<ul class="side-nav">

      <a id="agregarCampo" class="btn btn-info" href="#">Agregar Campo</a>
			
		</ul>
	</div>
     
    </aside>
{% endblock %}

{% block footer %}
	<footer class="row">
        <div class="large-12 columns">

          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright 2015.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>

        </div>
      </footer>
{% endblock %}




